* {
    box-sizing: border-box;
    ;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Assistant', sans-serif;
}

.header-image {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height:85%;
    background-size: cover;
    background: url("./img/header-img.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.header-intro {
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color:white;
    width: 100%;
    padding: 30px;

}

.header-text h1 {
    font-size: 6em;
    font-weight: 300;
    line-height: 15px;
    font-family: 'Lobster', cursive;

}

.header-text p {
    font-weight: 100;
    font-size: 2em;
    line-height: 0;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    z-index: 1000;
    background: black;
}

.navigation li {
    list-style: none;
    font-family: 'Assistant', sans-serif;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-fixed-top.scrolled {
    background-color: black !important;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .left a {
    color: white;
}

a {
    text-decoration: none;
    color: #23CFFF;
    font-family: 'Assistant', sans-serif;

}

a:hover {
    color: orange;
}

.right {
    float: right;
}

.left {
    float: left;
}

.left a {
    color: white;
    font-family: 'Lobster', cursive;
}



.how-it-works .col-3 {
    color:black;
    height: 300px;
    padding: 0;
    margin: 5px;
    text-align: left;
    border-radius: 20px;
}

.how-it-works ul {
    margin: 0;
    text-align: left;
    list-style-type: none;
}


.how-it-works .title {
    color:white;
    padding-top: 8%;
}
.category {
    background: #78AB46;
}

.details {
    background: black;
    color:white;
}

.how-it-works .col-6 {
    height:170px;
}

.how-it-works-title h1{
    text-align: center;
    font-weight: 200;
    font-size: 4em;
}

.how-it-works p{
    padding-left: 20px;
    padding-right:10px;
}

.title {
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    line-height: 0;
    padding: 10px;
    font-family: 'Assistant', cursive;
}

footer {
    background: black;
    color:white;
    text-align: center;
    margin-top: 50px;
    height:50px;
    padding-top: 10px;
    font-family: 'Lobster', cursive;
}

